.card{
  background:var(--bg-cards);
  border-radius:20px;


  margin: 1rem 0;
  padding:1rem;
}

.card img{
  width:24px;
  height:24px;
  margin-right: 1rem;
}

.card a{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display:flex;
  align-items: center;
  margin: 0.7rem 0;
}