.wrapper{
  display:flex;
  gap: 2rem;
}

.esquerda{
  width:350px;
  display: flex;
  flex-direction: column;
}

.direita{
  flex:1;
}

@media only screen and (max-width: 600px) {
  .wrapper{ 
  flex-direction: column;   
  }
  html{
    font-size:87.5%;
  }
}